<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore vel aperiam eos, harum est cumque? Velit deserunt sequi blanditiis. Minima corrupti ut modi quaerat nesciunt quisquam eligendi aliquam maxime illo!</h1>
<button (click)="show(modalTemplateSmall)">show small modal</button>
<button (click)="show(modalTemplateBig)">show big modal</button>

<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore vel aperiam eos, harum est cumque? Velit deserunt sequi blanditiis. Minima corrupti ut modi quaerat nesciunt quisquam eligendi aliquam maxime illo!</h1>
<button (click)="show(modalTemplateSmall)">show small modal</button>
<button (click)="show(modalTemplateBig)">show big modal</button>

<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore vel aperiam eos, harum est cumque? Velit deserunt sequi blanditiis. Minima corrupti ut modi quaerat nesciunt quisquam eligendi aliquam maxime illo!</h1>
<button (click)="show(modalTemplateSmall)">show small modal</button>
<button (click)="show(modalTemplateBig)">show big modal</button>

<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore vel aperiam eos, harum est cumque? Velit deserunt sequi blanditiis. Minima corrupti ut modi quaerat nesciunt quisquam eligendi aliquam maxime illo!</h1>
<button (click)="show(modalTemplateSmall)">show small modal</button>
<button (click)="show(modalTemplateBig)">show big modal</button>

<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore vel aperiam eos, harum est cumque? Velit deserunt sequi blanditiis. Minima corrupti ut modi quaerat nesciunt quisquam eligendi aliquam maxime illo!</h1>
<button (click)="show(modalTemplateSmall)">show small modal</button>
<button (click)="show(modalTemplateBig)">show big modal</button>


<ng-template #modalTemplateSmall>
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam a sint dolore molestiae accusantium maiores quidem nostrum dignissimos deserunt enim, dolorum ut, ad illo magnam doloribus est porro ipsam corrupti.</h2>
  <button (click)="hide()">hide modal</button>
</ng-template>

<ng-template #modalTemplateBig>
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam a sint dolore molestiae accusantium maiores quidem nostrum dignissimos deserunt enim, dolorum ut, ad illo magnam doloribus est porro ipsam corrupti.</h2>
  <button (click)="hide()">hide modal</button>

  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam a sint dolore molestiae accusantium maiores quidem nostrum dignissimos deserunt enim, dolorum ut, ad illo magnam doloribus est porro ipsam corrupti.</h2>
  <button (click)="hide()">hide modal</button>

  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam a sint dolore molestiae accusantium maiores quidem nostrum dignissimos deserunt enim, dolorum ut, ad illo magnam doloribus est porro ipsam corrupti.</h2>
  <button (click)="hide()">hide modal</button>

  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam a sint dolore molestiae accusantium maiores quidem nostrum dignissimos deserunt enim, dolorum ut, ad illo magnam doloribus est porro ipsam corrupti.</h2>
  <button (click)="hide()">hide modal</button>

  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam a sint dolore molestiae accusantium maiores quidem nostrum dignissimos deserunt enim, dolorum ut, ad illo magnam doloribus est porro ipsam corrupti.</h2>
  <button (click)="hide()">hide modal</button>
</ng-template>
